
.ipynb_checkpoints/Preppin' Data 2021 Week 1 Challenge-checkpoint.ipynb
.ipynb_checkpoints/Preppin' Data 2021 Week 2 Challenge-checkpoint.ipynb
.ipynb_checkpoints/Prepping'Data 2021 Week 3 Challenge-checkpoint.ipynb
.ipynb_checkpoints/Preppin' Data 2021 Week 3 Challenge-checkpoint.ipynb
.ipynb_checkpoints/Preppin' Data 2021 Week 4 Challenge-checkpoint.ipynb
.ipynb_checkpoints/Preppin' Data 2021 Week 5 Challenge-checkpoint.ipynb
