
.ipynb_checkpoints/Preppin' Data 2021 Week 1 Challenge-checkpoint.ipynb
.ipynb_checkpoints/Preppin' Data 2021 Week 2 Challenge-checkpoint.ipynb
.ipynb_checkpoints/Prepping'Data 2021 Week 3 Challenge-checkpoint.ipynb
.ipynb_checkpoints/Preppin' Data 2021 Week 3 Challenge-checkpoint.ipynb
.ipynb_checkpoints/Preppin' Data 2021 Week 4 Challenge-checkpoint.ipynb
.ipynb_checkpoints/Preppin' Data 2021 Week 5 Challenge-checkpoint.ipynb
.ipynb_checkpoints/Preppin' Data 2021 Week 6 Challenge-checkpoint.ipynb
.ipynb_checkpoints/Preppin' Data 2021 Week 7 Challenge-checkpoint.ipynb
.ipynb_checkpoints/Preppin' Data 2021 Week 8 Challenge-checkpoint.ipynb
.ipynb_checkpoints/Preppin' Data 2021 Week 9 Challenge-checkpoint.ipynb
.ipynb_checkpoints/Preppin' Data 2021 Week 10 Challenge-checkpoint.ipynb
.ipynb_checkpoints/Preppin' Data 2021 Week 01 Challenge-checkpoint.ipynb
.ipynb_checkpoints/Preppin' Data 2021 Week 02 Challenge-checkpoint.ipynb
